"*.imln.gradlen/local.propertiesn/.idea/cachesn/.idea/librariesn/.idea/modules.xmln/.idea/workspace.xmln/.idea/navEditor.xmln/.idea/assetWizardSettings.xmln.DS_Storen/buildn/app/buildn*.classn/capturesn.externalNativeBuildn.cxxnlocal.properties"
